{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-sm">
        <div class="row">
            <div class="col-6">
                <h1>Liste des inscriptions</h1>
                <a type="button" class="btn btn-warning btn-sm" href="{{path('app_deconnexion')}}">Se déconnecter</a>
                <br/><br/>
                {% if(messageInscription) %}
                    {{messageInscription}}
                    <br/><br/>
                {% endif %}
                <br/><br/>
                {% for uneInscription in lesInscriptions %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> Formation <strong> {{uneInscription.laFormation.leProduit.libelle}} </strong></h5>
                            <h6 class="card-subtitle mb-2 text-muted"> {{uneInscription.laFormation.dateDebut|date("d/m/Y")}} </h6> <!-- m/d/Y -->
                            <strong>Statut : </strong>
                            {% if(uneInscription.statut == 'enCours') %}
                                En cours
                            {% elseif uneInscription.statut == 'refuser' %}
                                <strong class="text-danger">Refuser</strong>
                            {% else %}
                                <strong class="text-success">Accepter</strong>
                            {% endif %}
                            <br>
                            <strong>Nom : </strong>{{uneInscription.lEmploye.nom}} <br>
                            <strong>Prénom : </strong> {{uneInscription.lEmploye.prenom}}</br>
                            {% if(uneInscription.statut == 'enCours') %}
                                </br>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="d-grid gap-2">
                                            <a type="button" class="btn btn-outline-success" href="{{path('app_accepter_une_formation', {'id' : uneInscription.id})}}">Accepter</a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-grid gap-2">
                                            <a type="button" class="btn btn-outline-danger" href="{{path('app_refuser_une_formation', {'id' : uneInscription.id})}}">Refuser</a><br/>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <br/>
                {% endfor %}
            </div>
            <div class="col-6">
                <h1>Liste des formations</h1>
                <a href="{{path('app_creer_formation')}}" type="button" class="btn btn-success btn-sm">Ajouter une formation</a>

                <br/>

                {% if(messageFormation) %}
                    {{messageFormation}}
                    <br/><br/>
                {% endif %}

                <br/>

                <br/><br/>

                {% for uneFormation in lesFormations %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> Formation <strong> {{uneFormation.leProduit.libelle}} </strong> </h5>
                            <h6 class="card-subtitle mb-2 text-muted"> {{uneFormation.dateDebut|date("d/m/Y")}} </h6>
                            <b>Durée : </b>{{uneFormation.nbreHeures}} h <br>
                            <b>Département : </b>{{uneFormation.departement}}<br><br>
                            <a type="button" class="btn btn-danger" href="{{path('app_supprimer_une_formation', {'id' : uneFormation.id})}}">Suppression</a>
                            <br/>
                        </div>
                    </div>
                    <br/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}