{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-sm">
        <div class="text-center">
            <h1>Liste des formations</h1>
            <a type="button" class="btn btn-warning btn-sm" href="{{path('app_deconnexion')}}">Se déconnecter</a>
            <br/><br/>
            {% if(message) %}
                {{message}}
                <br/><br/>
            {% endif %}
            <br/><br/>
            <div class="row">
                {% for uneFormation in lesFormations %}
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Formation <strong> {{uneFormation.leProduit.libelle}} </strong></h5>
                                <h6 class="card-subtitle mb-2 text-muted"> {{uneFormation.dateDebut|date("d/m/Y")}}</h6><br>
                                <p class="text-start">
                                    <b>Durée : </b> {{uneFormation.nbreHeures}} h<br>
                                    <b>Département : </b> {{uneFormation.departement}}<br><br>
                                    <div class="d-grid gap-2">
                                        <a type="button" class="btn btn-info" href="{{path('app_creer_inscription', {'id' : uneFormation.id})}}">S'inscrire</a>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}